body {
  font-size: 100%;
}

.lucy {
    border-radius: 100%;
  }

.navbar-menu {
  background-color: black;
}

.row {
  display: flex;
  justify-content: center;
}

.icon {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

section {
  display: block;
  text-align: center;
  
}

.skills-icon {
  font-size: 10px;
  color: black;
}

.title {
  color: #000 !important;
  font-size: 70px !important;
}

.subtitle {
  color: #000 !important;
  font-size: 40px !important;
}


section.hero.is-fullheight.img { 
  background-image: url('https://c0.wallpaperflare.com/preview/917/750/559/workspace-workplace-tech-computer.jpg');
  background-size: cover; 
  background-position: bottom;
  /* background: url('/Hero6.jpg');  */
}

.about {
  background-image: url('https://wallpaperaccess.com/full/742737.jpg');
  background-size: cover; 
}

.about2 {
  background-image: url('https://wallpaperaccess.com/full/742737.jpg');
  background-size: contain; 
}

.contact {
  background-color: black;
  color: white !important;
}

/* .navbar {
  color: white !important;
  font-size: 20px;
} */

a.navbar-item {
  font-size: 25px;
  color: gainsboro;
  font-weight: bold;
}

/* div.container.projects {
  display: flex;
  flex-direction: row;
} */
